.cont {
    width: 100%;
    padding-top: 18%;
    color: white;
}
.bar {
    display: inline-block;
    position: relative;
    background-color: white;
    width: 10%;
    margin-left: 5%;
}
.bar:hover {
    background-color: rgb(145,145,145);
    
}
#one {
    height: 285px
}
.names {
    width: 10%;
    margin-left: 5%;
    display: inline-block;
    position: relative;
}
.names p {
    font-family: helvetica;
    font-size: 12px;
    color: rgb(255, 255, 255);
}
#two {
    height: 144px
}
#three {
    height: 189px
}
#four {
    height: 60px
}
#five {
    height: 24px
}
#one1{
    height: 300px;
}
#two2{
    height: 150px;
}
#three3{
    height: 150px;
}
#four4{
    height: 120px;
}
#five5{
    height: 105px;
}
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}
[data-tooltip]:before, [data-tooltip]:after {
    visibility: hidden;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}
/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 110%;
    left: 150%;
    margin-bottom: 5px;
    margin-left: -160%;
    padding: 7px;
    width: 160%;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(8, 8, 8);
    content: attr(data-tooltip);
    text-align: center;
    font-family: helvetica;
    font-size: 18px;
    line-height: 1.2;
}
[data-tooltip]:after {
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-left: -5%;
    width: 0%;
    border-top: 7px solid rgb(255, 255, 255);
    border-top: 7px solid rgb(255, 255, 255);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content:" ";
    font-size: 0;
    line-height: 0;
}
/* Show tooltip content on hover */
[data-tooltip]:hover:before, [data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}