body{
	margin: 0;
	width: 100%;
}
@font-face {
    font-family:'exo-black';
    src: url(../fonts/exo-black.otf);
}
#headOverlay{
	width: 100%;
	height: 300px;
	opacity: 0.7;
	text-align: center;
	position: fixed;
	color: white;
	padding-top: 37%;
	font-family:'exo-black', sans-serif;
	letter-spacing: 2px;
}
#pg1{
	width: 100%;
	height: auto;
}
#pg2{
	width: 100%;
	height: 400px;
	font-family:'exo-black', sans-serif;
	text-align: center;
}
#lede{
	padding-top: 12%;
}	
#pg3{
	width: 100%;
	height: 700px;
	background-color: black;
}
.insert{
	position: absolute;
	background-color: white;
	border-radius: 3px;
	height: 450px;
	width: 250px;
	text-align: center;
	padding-top: 3%;
}
#insert1{
	left: 10%;
}
#insert2{
	right: 40%;
}
#insertSp{
	height: 18%;
	width: 100%;
}
#heads{
	position: absolute;
	right: 15%;
}
#pg4{
	width: 100%;
	height: 700px;
	background-color: white;
}
#byline{
	padding-top: 5%;
	text-align: center;
	font-family: sans-serif;
}










