@font-face {
    font-family:'exo-black';
    src: url(../fonts/exo-black.otf);
}
@font-face {
    font-family: 'liberation sans';
    src: url(../fonts/Liberation-Sans/LiberationSans-Regular.ttf);
}
#byLine{
    padding-left: 3%;
    color: white;
}
#emerald{
    font-family:'exo-black';
    letter-spacing: 2px;  
}
.share-buttons img {
    width: 30%;
    margin-right: 15%;
    border: 0;
    box-shadow: 0;
}
#svg{
    width: 150%;
}
#quot1 {
    font-size: 20px;
    font-family: 'liberation sans';
    color: white;
}
#quot2{
    color: white;
    font-size: 30px;
    font-family: 'liberation sans';
    font-weight: bold;
}
.story {
    color: white;
    line-height: 30px;
    font-family: 'liberation sans';
    letter-spacing: 0.5px;
    font-size: 17px;
}
    * {
        padding:0;
        margin:0;
    }
    html, body {
        height:100%;
    }
    .skrollr-desktop body {
        height:100% !important;
    }
    body {
        font-family:sans-serif;
    }
    p {
        margin:1em 0;
    }
    .parallax-image-wrapper {
        position:fixed;
        left:0;
        width:100%;
        overflow:hidden;
    }
    .parallax-image-wrapper-50 {
        height:50%;
        top:-50%;
    }
    .parallax-image-wrapper-100 {
        height:100%;
        top:-100%;
    }
    .parallax-image {
        display:none;
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
    }
    .parallax-image-50 {
        height:200%;
        top:-50%;
    }
    .parallax-image-100 {
        height:100%;
        top:0;
    }
    .parallax-image.skrollable-between {
        display:block;
    }
    .no-skrollr .parallax-image-wrapper {
        display:none !important;
    }
    #skrollr-body {
        height:100%;
        overflow:visible;
        position:relative;
    }
    .gap {
        background:transparent center no-repeat;
        background-size:cover;
    }
    .skrollr .gap {
        background:transparent !important;
    }
    .gap-50 {
        height:50%;
    }
    .gap-100 {
        height:100%;
    }
    .header, .content {
        background-color: rgb(8,8,8);
        padding:1em;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }
    .content-full {
        height:100%;
    }
    #done {
        height:100%;
    }