html, body {
    height:100%;
}
@font-face {
    font-family:'exo-black';
    src: url(../fonts/exo-black.otf);
}
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
}
#title {
    color: white;
    font-size: 50px;
    font-family:'exo-black', verdana;
    padding-left: 25%;
    padding-top: 25%;
}
#lede {
    font-size: 20px;
    font-family: verdana;
    color: white;
}
#byline {
    text-align: center;
    font-family: sans-serif;
}
.story {
    color: white;
    line-height: 30px;
    font-family: verdana;
}
* {
        padding:0;
        margin:0;
    }
    html, body {
        height:100%;
    }
    .skrollr-desktop body {
        height:100% !important;
        background-color: rgb(8,8,8);
    }
    body {
        font-family:sans-serif;
    }
    p {
        margin:1em 0;
    }
    .parallax-image-wrapper {
        position:fixed;
        left:0;
        width:100%;
        overflow:hidden;
    }
    .parallax-image-wrapper-50 {
        height:50%;
        top:-50%;
    }
    .parallax-image-wrapper-100 {
        height:100%;
        top:-100%;
    }
    .parallax-image {
        display:none;
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
    }
    .parallax-image-50 {
        height:200%;
        top:-50%;
    }
    .parallax-image-100 {
        height:100%;
        top:0;
    }
    .parallax-image.skrollable-between {
        display:block;
    }
    .no-skrollr .parallax-image-wrapper {
        display:none !important;
    }
    #skrollr-body {
        height:100%;
        overflow:visible;
        position:relative;
    }
    .gap {
        background:transparent center no-repeat;
        background-size:cover;
    }
    .skrollr .gap {
        background:transparent !important;
    }
    .gap-50 {
        height:50%;
    }
    .gap-100 {
        height:100%;
    }
    .header{
        height: 100%;
    }
    .header, .content {
        padding:1em;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }
    .content-full {
        height:100%;
    }