body{
	margin: 0;
	width: 100%;
}
@font-face {
    font-family:'exo-black';
    src: url(../fonts/exo-black.otf);
}
#headOverlay{ /* this is hidden right now */
	width: 100%;
	height: 300px;
	opacity: 0.7;
	text-align: center;
	position: fixed;
	color: white;
	padding-top: 37%;
	font-family:'exo-black', sans-serif;
	letter-spacing: 2px;
}
#lede{
	padding-top: 12%;
	text-align: center;
}
.page{
	background-color: rgb(0,0,0);
	color: white;
	margin: 0;
	height: 100%;
}	
.insert{
	position: absolute;
	background-color: white;
	border-radius: 3px;
	height: 450px;
	width: 250px;
	text-align: center;
	padding-top: 3%;
}
#byline{
	padding-top: 5%;
	text-align: center;
	font-family: sans-serif;
}
    * {
        padding:0;
        margin:0;
    }
    html, body {
        height:100%;
    }
    .skrollr-desktop body {
        height:100% !important;
    }
    body {
        font-family:sans-serif;
    }
    p {
        margin:1em 0;
    }
    .parallax-image-wrapper {
        position:fixed;
        left:0;
        width:100%;
        overflow:hidden;
    }
    .parallax-image-wrapper-50 {
        height:50%;
        top:-50%;
    }
    .parallax-image-wrapper-100 {
        height:100%;
        top:-100%;
    }
    .parallax-image {
        display:none;
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
    }
    .parallax-image-50 {
        height:200%;
        top:-50%;
    }
    .parallax-image-100 {
        height:100%;
        top:0;
    }
    .parallax-image.skrollable-between {
        display:block;
    }
    .no-skrollr .parallax-image-wrapper {
        display:none !important;
    }
    #skrollr-body {
        height:100%;
        overflow:visible;
        position:relative;
    }
    .gap {
        background:transparent center no-repeat;
        background-size:cover;
    }
    .skrollr .gap {
        background:transparent !important;
    }
    .gap-50 {
        height:50%;
    }
    .gap-100 {
        height:100%;
    }
    .header, .content {
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }
    .content-full {
        height:100%;
    }
    #done {
        height:100%;
    }
    #stats{
    	background-color: black;
    	padding-top: 10%;
    }












