.container {
	background-color: green;
	border: 1px solid green;
	display: block;
}

.bar {
	display: inline-block;
	position: relative;
	background-color: white;
	width: 50px;
	margin-top: 100px;
	margin-left: 15px;
	border: 1px solid white;
}

.bar:hover { 
    background-color: black;
    border: 1px solid black;
}

#one {
	height: 285px
}

.names {
	width: 50px;
	margin-left: 15px;
	display: inline-block;
	position: relative;
}

.names p {
	font-family: helvetica;
	font-size: 12px;
	color: white;
}

#two {
	height: 144px
}

#three {
	height: 138px
}

#four {
	height: 60px
}

#five {
	height: 24px
}

[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}


[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 110%;
	left: 150%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 50px;
	border-radius: 3px;
	background-color: rgb(8, 8, 8);
	background-color: rgb(8, 8, 8);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-family: helvetica;
	font-size: 18px;
	line-height: 1.2;
}


[data-tooltip]:after {
	position: absolute;
	bottom: 110%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid rgb(8, 8, 8);
	border-top: 5px solid rgb(8, 8, 8);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}